#search-panel form {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(min(38ch, 100%), 1fr)); */
  grid-template-columns: repeat(4, 1fr);
  gap: var(--s1);
}

#rover-select {
  grid-column: auto / span 4;
}
#type-select {
  grid-column: auto / span 1;
}
#sol-select {
  grid-column: auto / span 3;
}
#earth-select {
  grid-column: auto / span 3;
}
#camera-select {
  grid-column: auto / span 4;
}
#submit-clear {
  grid-column: auto / span 4;
}

#search-panel .cluster > * {
  padding: var(--s1);
  justify-content: center;
}